body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
  }
  
  .toggle-container {
    display: flex;
    justify-content: center;
  }
  
  .toggle-button {
    background: #e43f5a;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .toggle-button:hover {
    background: #ff6363;
  }
  
  .toggle-button span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .card-container {
    perspective: 1000px;
  }
  
  .flip-card {
    width: 100%;
    position: relative;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
  }
  
  .flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    background: #162447;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 15px;
    border: solid 2px white;

  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  form input,
  form label,
  form button,
  form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  form input,
  form textarea {
    background: #1f4068;
    color: #fff;
  }
  
  form button {
    background: #e43f5a;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  form button:hover {
    background: #ff6363;
  }
  
  form textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-link a {
    color: #e43f5a;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  